<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServer</display-name>
    <servlet-name>LoginServer</servlet-name>
    <servlet-class>LoginServer.LoginServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServer</servlet-name>
    <url-pattern>/LoginServer</url-pattern>
  </servlet-mapping>
  <display-name>WebCki</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VerifyOTP</display-name>
    <servlet-name>VerifyOTP</servlet-name>
    <servlet-class>LoginServer.VerifyOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOTP</servlet-name>
    <url-pattern>/VerifyOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleLog</display-name>
    <servlet-name>GoogleLog</servlet-name>
    <servlet-class>LoginServer.GoogleLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleLog</servlet-name>
    <url-pattern>/GoogleLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisServer</display-name>
    <servlet-name>RegisServer</servlet-name>
    <servlet-class>LoginServer.RegisServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisServer</servlet-name>
    <url-pattern>/RegisServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VRFGPServer</display-name>
    <servlet-name>VRFGPServer</servlet-name>
    <servlet-class>LoginServer.VRFGPServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VRFGPServer</servlet-name>
    <url-pattern>/VRFGPServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FGServer</display-name>
    <servlet-name>FGServer</servlet-name>
    <servlet-class>LoginServer.FGServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FGServer</servlet-name>
    <url-pattern>/FGServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageServer</display-name>
    <servlet-name>ManageServer</servlet-name>
    <servlet-class>ManagServer.ManageServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServer</servlet-name>
    <url-pattern>/ManageServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServer</display-name>
    <servlet-name>AdminServer</servlet-name>
    <servlet-class>AdminServer.AdminServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServer</servlet-name>
    <url-pattern>/AdminServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSeasonServer</display-name>
    <servlet-name>EditSeasonServer</servlet-name>
    <servlet-class>EditServer.EditSeasonServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSeasonServer</servlet-name>
    <url-pattern>/EditSeasonServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchServer</display-name>
    <servlet-name>MatchServer</servlet-name>
    <servlet-class>AdminServer.MatchServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchServer</servlet-name>
    <url-pattern>/MatchServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamServer</display-name>
    <servlet-name>TeamServer</servlet-name>
    <servlet-class>AdminServer.TeamServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServer</servlet-name>
    <url-pattern>/TeamServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServer</display-name>
    <servlet-name>MemberServer</servlet-name>
    <servlet-class>AdminServer.MemberServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServer</servlet-name>
    <url-pattern>/MemberServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServer</display-name>
    <servlet-name>cookieServer</servlet-name>
    <servlet-class>cookieServer.cookieServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServer</servlet-name>
    <url-pattern>/cookieServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantServer</display-name>
    <servlet-name>ParticipantServer</servlet-name>
    <servlet-class>AdminServer.ParticipantServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantServer</servlet-name>
    <url-pattern>/ParticipantServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchDetailServer</display-name>
    <servlet-name>MatchDetailServer</servlet-name>
    <servlet-class>AdminServer.MatchDetailServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchDetailServer</servlet-name>
    <url-pattern>/MatchDetailServer</url-pattern>
  </servlet-mapping>
</web-app>